<html>
<head>
    <title>Algobot Backtest Management Interface</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <link rel="stylesheet" href="sources/global_style.css">
</head>
<body>
<h1>Backtest Management Interface</h1>
<h2>Active Backtests</h2>
<table>
<tr><th></th></tr>
</table>
<h2>Start Backtest</h2>
</body>
</html>
