<html>
<head>
    <title>Algobot Backtest Management Interface</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <link rel="stylesheet" href="sources/global_style.css">
</head>
<body>
<% include ./partials/header %>
<h1>Backtest Management Interface</h1>
<h2>Active Backtests</h2>
<table width="100%"><tbody id="activeBacktests">
<tr><th></th></tr>
</tbody></table>
<h1>Manage Backtests</h1>
<h2>Start Backtest</h2>
<b>Currency Pair:  </b><input type="text" value="usdcad" id="backtestStartPair">
<br><b>Type:  </b><select id="backtestTypeSelector"><option value="fast">Fast</option><option value="live">Live</option><option value="precalced">Pre-Calculated</option><option value="nostore">No-store</option></select>
<br><b>Start Time:  </b><input type="text" value="1451887229.879" id="backtestStartTime">
<div id="endtime" style="display: none;"><br><b>End Time:  </b><input type="text" value="1451919404.066" id="backtestEndTime"></div>
<br><b>Fast Send Interval:  </b><input type="text" value="50" id="backtestSendInterval">
<br><input type="button" value="Start" id="backtestStartButton">
<hr>
<h2>Stop Backtests</h2>
<b>Currency Pair:  </b><input type="text" value="usdcad" id="backtestStopPair">
<br><input type="button" value="Stop" id="backtestStopButton">  <input type="button" value="Stop All" id="backtestStopAllButton">
</body>
</html>
