<html>
<head>
    <title>Algobot Instance Management Interface</title>
    <script type="text/javascript" src="sources/global_script.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="sources/instance_script.js"></script>
    <link rel="stylesheet" href="sources/global_style.css">
    <link rel="stylesheet" href="sources/instance_css.css">
    <link rel="stylesheet" href="sources/commands.css">
</head>
<body>
<% include ./partials/header %>
<h1>Instance Management Interface</h1>
<table width="100%"><tr><td>
    <h1>Instance Management</h1>
    <div id="statusbar"></div>
    <h2>Running Instances</h2>
    <div id="running-instances">Loading...</div>
    <h2>Create Instances</h2>
    <table>
        <tr>
            <th>Instance Type</th>
            <th id="instance-data">Data</th>
        </tr>
        <tr>
            <td><select id="instance-type">
                <option value="tick_parser">Tick Parser</option>
                <option value="backtester">Backtester</option>
            </select></td>
            <td><input type="text" id="instance-data-box"></td>
        </tr>
    </table>
    <input type="button" value="Spawn" id="instance-spawn-button">
</td><td>
<hr>
<h1>Database Utils</h1>
<input type="button" value="Flush Database" id="dbFlush"><input type="button" value="Dump Database" id="dbDump"><br>
<input type="text" placeholder="Dump ID">
</td></tr></table>
<hr>
<center><h1>Command Terminal</h1></center>
<h2>Send Command</h2>
<table width="100%"><tr>
    <td>Channel: <input type="text" id="channel" value="control"></td>
    <td>Command: <input type="text" id="command" placeholder="Ping"></td>
    <td>Parameters: <input type="text" id="params" placeholder='{"key": {"key2": 100}}'>
    <td>Broadcast <input type="checkbox" id="broadcast"></td>
</tr></table>
<input type="button" value="Send" id="send"><br>
<div id="response" class="mono"></div>
<hr>
<h2>Live Commands + Responses</h2>
Squelch Pings+Pongs <input type="checkbox" id="squelchpings" checked>
<table class="mono" style="width: 100%"><tbody id="cmdres"></tbody></table>
</body>
</html>
