<html>
<head>
    <title>Algobot Live Log View</title>
    <script type="text/javascript" src="sources/global_script.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="sources/log.js"></script>
    <link rel="stylesheet" href="sources/global_style.css">
    <link rel="stylesheet" href="sources/log.css">
    <link rel="stylesheet" href="sources/commands.css">
</head>
<body>
<% include ./partials/header %>
<h1>Live Log View</h1>
<p>This is very temporary until I get a proper frontend working for the platform.  Stay tuned!</p>
<table width="100%">
<tr>
    <th>Timestamp</th>
    <th>Instance</th>
    <th>Level</th>
    <th>Type</th>
    <th>Message</th>
</tr>
<tbody id="log-body"></tbody>
</table>
</body>
</html>
