<html>
<head>
<title>Algobot Monitoring Interface</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="../sources/monitor_script.js"></script>
<link rel="stylesheet" href="sources/monitor_css.css">
</head>
<body>
<% include ./partials/header %>
<h1><center>Algobot Monitoring Interface</center></h1>
<div id="graph1" style="width: 100%; height: 475px; margin: 0 auto"></div>
<div id="config">
  <h2>Chart Config</h2>
  <table>
  <tr>
  <td>Symbol</td>
  </tr>
  <tr>
  <td>
    <input type="text" id="pairInput" value="usdcad"><br>
  </td>
  </tr>
  <tr><td><p><input type="checkbox" name="rawTicks" id="loadTicks">Plot raw ticks</p></td></tr>
  <tr><td><p>Time Range</p></td></tr>
  <tr><td><input type="text" id="timeRange" value="100000"></td></tr>
  <tr>
    <td><input type="button" id="update" value="Update and Reset"></td>
    <td><input type="button" id="update" value="Save Graph"></td>
  </tr>
  </table>
</div>
</body>
</html>
