<html>
<head>
<title>Algobot Monitoring Interface</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="../sources/monitor_script.js"></script>
<link rel="stylesheet" href="sources/monitor_css.css">
</head>
<body>
<% include ./partials/header %>
<h1><center>Algobot Monitoring Interface</center></h1>
<div id="mainGraph" style="width: 100%; height: 475px; margin: 0 auto"></div>
<div id="momentumGraph" style="width: 100%; height: 350px; margin: 0 auto"></div>
<div id="smaDistGraph" style="width: 100%; height: 350px; margin: 0 auto"></div>
<div id="config">
  <h2>Chart Config</h2>
  <p>Monitored Average Periods:  <%= conf.public.monitoredAveragePeriods %></p>
  <p>Monitored Momentum Periods: <%= conf.public.monitoredMomentumPeriods %></p>
  <p>Note: For momentum pair, enter it in the format [averagePeriod],[momentumPeriod].</p>
  <table>
  <tr>
  <td>Symbol</td>
  <td>Average Periods</td>
  <td>Momentum Pairs</td>
  </tr>
  <tr>
  <td>
    <input type="text" id="pairInput" value="usdcad"><br>
  </td>
  <td id="averages">
    <input type="text" class="averageInput" value="30"><br>
    <input type="button" class="averageRemove" value="Remove One"><input type="button" class="averageExtend" value="Add Another">
  </td>
  <td id="momentums">
    <input type="text" class="momentumInput" value="3000,3000"><br>
    <input type="button" class="momentumRemove" value="Remove One"><input type="button" class="momentumExtend" value="Add Another">
  </td>
  </tr>
  <tr><td><p><input type="checkbox" name="rawTicks" id="loadTicks">Plot raw ticks</p></td></tr>
  <tr><td><p>Maxima/Minima Stripe Period</p></td><td>Up Band Comp. Periods</td><td>Down Band Comp. Periods</td></tr>
  <tr><td><input type="text" id="maxMinStripePeriod" value="30"></td>
  <td><input type="text" value="5000" id="compUpPeriods"></td>
  <td><input type="text" value="5000" id="compDownPeriods"></td>
  </tr>
  <tr><td></td>
  <td><p>Draw Up Bands<input type="checkbox" id="drawUpBands" checked="true"></p></td>
  <td><p>Draw Down Bands<input type="checkbox" id="drawDownBands" checked="true"></p></td>
  </tr>
  <tr>
  <td><p>SMA Dist Period</p></td>
  <td><p>SMA Dist Comp Periods</p></td>
  </tr>
  <tr>
  <td id="smaDistPeriod">
    <input type="text" id="smaDistInput" value="30"><br>
  </td>
  <td>
    <input type="text" class="smaDistCompInput" value="5000"><br>
    <input type="button" class="smaDistCompRemove" value="Remove One"><input type="button" class="smaDistCompExtend" value="Add Another">
  </td>
  </tr>
  <tr><td><p>Time Range</p></td></tr>
  <tr>
  <td><input type="text" id="timeRange" value="100000"><input type="button" id="update" value="Update and Reset"></td>
  </tr>
  </table>
</div>
</body>
</html>
