<div id="header">
  <table width="50%">
  <tr><td><b>Algobot 3 Web Management Interface</b></td><td><a href="./">Instance Management</a></td><td><a href="./monitor">Monitor</a></td></tr>
  </table>
</div>
