[submodule "strategies"]
	path = strategies
	url = git@github.com:Ameobea/bot4-strategies.git
[submodule "util/src/trading/broker/shims/FXCM/native/native/include/ForexConnectAPI-Linux-x86_64"]
	path = util/src/trading/broker/shims/FXCM/native/native/include/ForexConnectAPI-Linux-x86_64
	url = git@github.com:FXCMAPI/ForexConnectAPI-Linux-x86_64.git
