[submodule "util/src/trading/broker/shims/FXCM/native/native/include/ForexConnectAPI-Linux-x86_64"]
	path = broker_shims/FXCM/native/native/include/ForexConnectAPI-Linux-x86_64
	url = https://github.com/FXCMAPI/ForexConnectAPI-Linux-x86_64.git
