body {
  background-color: #0B0909 !important;
  color: #A0A0A0 !important;
  text-align: center !important;
  font-family: "Helvetica Neue", "Helvetica", sans-serif !important;
}

input {
  background-color: #313130 !important;
}
