#response {
  border: 1px solid black;
  margin-top: 13px;
  margin-bottom: 5px;
  padding: 2px;
}

#cmdres {
  border-top: 2px solid #888888;
  margin-top: 15px;
  height: 200px;
  overflow: scroll;
}
