body {
  background-color: #13130E;
  color: #8c8c8c;
  font-family: "Helvetica Neue", "Helvetica"
}

input, textarea, button, select {
  background-color: #161716;
  color: #8c8c8c;
  font-family: "Oxygen Mono";
  border: 1px solid #252525;
}

input[type=button], button {
  background-color: #090909;
  cursor: pointer;
}

::-moz-selection {
  background: #4d004d;
}

::selection {
  background: #4d004d;
}
