<div id="header">
  <table width="100%"><tr>
      <td><b>Algobot <strike>3</strike> 4 Web Management Interface</b></td>
      <td><a href="./">Instance Management</a></td>
      <td><a href="./monitor">Monitor</a></td>
      <td><a href="./commands">Command Terminal</a></td>
  </tr></table>
</div>
