.application {
  height: 100%;
  background-color: #050505 !important;
  color: #A0A0A0;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  padding-top: 20px;
}

.header {

}

.nav {
	font-size: 14pt;
}

.content {
  background-color: #0B0909;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 15px;
}

.leftText {
  text-align: left;
}

.inlineH1 {
  display: inline;
  padding-right: 15px;
}
